<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kh.edu.rupp.ckcc.derkamsan">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Events.EventDetailActivity" />
        <activity android:name=".Homes.HomeDetailsActivity" />
        <activity android:name=".PopularPlaces.PopularPlaceActivity"/>
        <activity android:name=".Profiles.ProfileActivity"/>
        <activity android:name=".Profiles.SignUpActivity"/>
        <activity android:name=".Profiles.LoginActivity"/>
        <activity android:name=".ContactUsActivity"/>
        <activity android:name=".Offline.OfflineActivity"/>
        <activity android:name=".AboutUsActivity"/>
    </application>

</manifest>